*{
    box-sizing: border-box;
}

body { 
    height: 100vh; 
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DotGothic16', 'sans-serif';
}

header {
    font-size: 10vmin;
    letter-spacing: 1vmin;
}

.board { 
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin 20vmin;
    background-color:gray;
    
}

.boxes {
    background-color: white;
    border: solid black;
    text-align: center;
    padding: 2vmin;
    font-size: 10vmin;
}

button { 
  margin: 10px;
}

